

.wrapper {
	display: grid;
	grid-template-columns:1fr 1fr 10fr 1fr 1fr 28px 27px 35px;
	width: 96%;
	height: 28px;
	margin-top: 19px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;

	/*margin-top: 10px;*/
	/*border: 1px blue solid;*/
}

.wapperOne {
	display: grid;
	grid-template-rows: 100px 1fr 50px 50px 100px; 
}

.box {
	/*border:1px red solid;*/
	width: 60px;
}

img {
	/*border: 1px red solid;*/
	height: 12px;
	width: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

#bell img {
	height: 20px;
	width: 20px;
	position: relative;
    margin-top: -3px;
    margin-left: 18px;
}

#user img {
	height: 31px;
    width: 31px;
    margin-left: 25px;
    position: relative;
    margin-top: -11px;
}


.spacer {
	height: 200px;
	/*border: 1px red solid;*/
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 94px;
    width: 269px;
    /*border: 1px grey solid;*/
}

.input {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 484px;
    height: 50px;
    border: 1px #d4d1d1 solid;
    box-shadow: 0px 1px 1px 1px rgba(219,216,216,1);;
    /*z-index: 2;*/
}

input {
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 90%;
	height: 22px;
	/*border: 1px red solid;*/
}

#bottom .spacer {
	height: 200px;
	border: 1px red solid;
}